* {box-sizing:border-box;}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* css for the navbar */

.navbar{ 
 background: black;
 height: 7.5vh;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;

}
a {
  text-decoration: none;
  color: white;
}


/* css for the tagger page*/
.horizontal{
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.orderContentList{
  list-style: none;
  width: 17.5vw;
  height: 90vh;
  overflow-x:scroll;
  margin: 0 0 5vh 1.75vw;
  padding: 0;
}

.orderContentList::-webkit-scrollbar {
  display: none;
}

.orderContentList > li{
  padding: 0.25vh 0.5vw;  
  font-size: 0.9em;
  cursor: pointer;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.orderContentList > .label{
  cursor: not-allowed;
  font-weight: bold;
  margin-top: 1.5vh;
}
.previous{
  color: rgb(0, 100, 0, 0.5)
  /* color: rgba(0, 0, 209, 0.5) */
}
.selectedContentItem{
  background-color: darkblue;
  color: white;
}



.tagsForm{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30vh;
  width: 15vw;
  padding: 0.25vh 0.5vw; 
  margin: 0 3.25vw 0 0 ; 
  font-size: 0.9em;
  font-weight: bold;
  
}

.tagFormBtns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15vw;
}

.previewPdf{
  width: 60vw;
  height: 90vh;
  overflow-x: hidden;

}
.previewPdf::-webkit-scrollbar {
  display: none;
}

.react-pdf__Page__canvas {
  /* margin: 0 0 0 -2.5vw; */
  width: 60vw !important;
  height: auto !important;
}
/* .react-pdf__Document{
  margin-bottom: 12.5vh;
  margin-top: 2.5vh;
} */