* {box-sizing:border-box;}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* css for the navbar */

.navbar{ 
 background: black;
 height: 7.5vh;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 align-items: center;

}
a {
  text-decoration: none;
  color: white;
}

a[disabled] {
  pointer-events: none;
  color: grey;
}

/* styles for the */
.card-display{
  height: 85vh;
  padding: 2.5vh;
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  height: 30vh;
  width: 20vw;
  margin: 2.5vh;

  border-style: solid;
  border-width: 1px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.card > button {
  width: 10vw;
  margin: 5vh;
}

.card-pending{
  background-color: rgb(128, 128, 128, 0.2);
  color: rgb(128, 128, 128, 0.8);
}
.card-completed{
  background-color: rgb(0, 128, 0, 0.2);
  color: rgb(0, 128, 0, 0.7);
}
.card-error{
  background-color: rgb(255, 0, 0, 0.2);
  color: rgb(255, 0, 0, 0.7);
}

.message-box{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 15vw;
  height: 10vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.message-item{
  font-size: 0.85em;
  color: inherit;
}
.selectable{
  cursor: pointer;

}

/* css for the dictionary page/component */



.dictionary-container-vertical{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1vw;
}

.dictionary-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  width: 17.5vw;
}

.dictionary-reset{
  position: absolute;
  top: 11.5vh;
  right: 2.5vw;
  height: 2vh;
  line-height: 1vh;
}

.dictionary-subcontainer{
  height: 70vh;
  width: 17.5vw;
  overflow: scroll;
  margin-bottom: 1.25vh;
  margin-left: -1.5em;
  background-color: whitesmoke;
  padding: 1vh 0;
  border-style: solid;
  border-width: 0;
  border-radius: 5px;
}

.dictionary-subcontainer::-webkit-scrollbar {
  display: none;
}

.dictionary-subcontainer-smaller{
  height: 70vh;
}

.dictionary-selection{
  width: 17.5vw;
  font-size: 0.9em;
  margin-bottom: 1vh;
  margin-left: -1.5em;
  height: 12.5vh;
  overflow: scroll;
  background-color: whitesmoke;
  padding: 1vh 1.5em;
  border-style: solid;
  border-width: 0;
  border-radius: 5px;
}

.check-box{
  min-width: 10vw;
  max-width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -1em;
  height: 1em;
  line-height: 1em;
  font-size: 0.9em;
  margin-bottom: 0.5vh;
}

.dictionary-edit{
  padding-top: 2.5vh;
}

.dictionary-edit-icons{
  font-size: 1.45em;
}
.dictionary-edit-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 1.5em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.dictionary-edit-input{
  margin-left: 0.5vw;;
  width: 15vw;
  height: 1.45em;
}

/* css for the tagger page*/
.horizontal{
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.orderContentList{
  list-style: none;
  width: 10vw;
  height: 90vh;
  overflow-x:scroll;
  margin: 0 0 5vh 1.75vw;
  padding: 0;
}

.orderContentList::-webkit-scrollbar {
  display: none;
}

.orderContentList > li{
  padding: 0.25vh 0.5vw;  
  font-size: 0.9em;
  cursor: pointer;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.orderContentList > .label{
  cursor: not-allowed;
  font-weight: bold;
  margin-top: 1.5vh;
}
.previous{
  color: rgb(0, 100, 0, 0.5)
  /* color: rgba(0, 0, 209, 0.5) */
}
.selectedContentItem{
  background-color: darkblue;
  color: white;
}



.tagsForm{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* height: 30vh; */
  width: 15vw;
  padding: 0.25vh 0.5vw; 
  margin: 0 3.25vw 0 0 ; 
  font-size: 0.9em;
  font-weight: bold;
  
}

.tagFormBtns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15vw;
}

.previewPdf{
  width: 67.5vw;
  height: 90vh;
  overflow-x: hidden;

}
.previewPdf::-webkit-scrollbar {
  display: none;
}

.react-pdf__Page__canvas {
  /* margin: 0 0 0 -2.5vw; */
  width: 67.5vw !important;
  height: auto !important;
}
/* .react-pdf__Document{
  margin-bottom: 12.5vh;
  margin-top: 2.5vh;
} */



/* Login style */

.login{
  width: 25vw;
  margin: 0 auto;
  margin-top: 25vh;
}

.login-fieldset{
  border-style: solid;
  border-radius: 10px;
  height: 25vh;
  min-height: 140px;
}

.login-div{
  margin: 1vh 0;
}

.login-input{
  position: fixed;
  right: 40vw;
  width: 17.5vw;
  border-style: solid;
  border-width: 0.5px;
  border-color: grey;
  border-radius: 4px;
}

.login-btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10vw;
  margin: 0 auto;
  margin-top: 4vh;

}



.login-btn{
  width: 4vw;
  height: 3vh;
  min-height: 20px;
  border-style: solid;
  border-width: 0.5px;
  border-color: grey;
  border-radius: 4px;
}

.login-msg{
  color: red;
  width: 10vw;
  margin: 0 auto;
  font-size: 0.75em;
  margin-bottom: 2vh;
  height: 3vh;
  text-align: center;
}